body {
  padding: 15px 60px;
  font-family: 'Libre Franklin', sans-serif;

  header {
    float: left;
    width: 50%;

    nav {
      h3 {
        padding-bottom: 15px;

        span {
          margin-left: 10px;
          font-size: 14px;
          font-weight: 100;
          color: #aaa;
        }
      }

    }

    img {
      width: 100px;
    }

    h1 {
      text-align: left;
      font-size: 40px;
      color: #5C5A75;
      font-weight: 300;
    }

    button {
      display: block;
      padding: 10px 20px;
      border-radius: 5px;
      background: #5C5A75;
      border: transparent;
      font-size: 12px;
      color: #fff;
      outline: none;
      cursor: pointer;
    }
  }
}
